<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Simple Login{% endblock %}</title>
  {% load static %}
  <link src= "{% static "css/bootstarp.min.css"%}"/>
</head>
<!--se escribe de esta manera cuando traigo archivos estaticos django-->
{% load static %}
<body background= "{% static "img/picture2.jpg"%}" style="background-repeat: no-repeat; background-size: cover;"> <!--se escribe asi por django--> 
  <header>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% endif %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
  </footer>
  {% load static %}
  <script src= "{% static "js/bootstrap.min.js"%}"/>
</body>
</html>
